
.about{
    padding:0 100px
}



.aboutus h1{
      font-size: 50px;
}

.aboutus2 img{
    width: 90%;
}

.about-header{
    background-image: linear-gradient(to right, rgb(20, 18, 18), rgb(114, 114, 108));
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.about-header h1{
    text-align: center;
    font-size: 65px;
    color:#fff;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
            0px -4px 10px rgba(245, 243, 243, 0.3);
   
}

.container {
    position: relative;
    background-image: url("../../assets/abstractshape.png");
background-size: cover;
    /* Adjust as needed */
    background-position: center;
    /* Adjust as needed */
    
    /* Set the width and height for the container */
    height: 500px;
    /* Set a height for the container */
}



.first-image{
height: 350px;
    width: 450px;
    border-radius: 150px 10px 10px 10px!important;
    
}

.corner-image {
    position: absolute;
    height: 200px;
    width: 200px;
    top: 40%;
    /* Adjust as needed to position in the corner */
    right: 80%;
    /* Adjust as needed to position in the corner */
    z-index: 1;
    /* To place it under the other image */
} /* Adjust this value to control the stacking order */


.about-second-part{
    background-image: linear-gradient(to right, rgb(241, 241, 241), rgb(255, 255, 253));
    padding:0 100px;
}

@media only screen and (min-width: 1000px) {
    
 
    
}

@media only screen and (max-width: 600px) {

    .about{
        padding:0 30px
    }

    .about-second-part{
        background-image: linear-gradient(to right, rgb(241, 241, 241), rgb(255, 255, 253));
        padding:0 10px;
    }

}

